<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Create a New User</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <h1>Edit {{user.first_name}} </h1>
            <div class="col text-end fs-3">
                <a href="/users">Home</a>   <!---add link to all users (/users) it has to be the route name-->
            </div>
        </div>
        <form action="/users/update" method="POST"> <!-- Route to send the data to database (located in the controllers @app.route("/carriers/add"); dont forget method="POST"-->
            <div class="form-group row">
                <input type="hidden" name="id" value={{user.id}}>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col -form-label lg pt-2.5">First name:</label>
                <div  class="col-sm-4 p-2">
                    <input type="text"  class="form-control" name="first_name" value="{{user.first_name}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col -form-label lg pt-2.5">Last name:</label>
                <div  class="col-sm-4 p-2">
                    <input type="text"  class="form-control" name="last_name" value="{{user.last_name}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col -form-label lg pt-2.5">Email:</label>
                <div  class="col-sm-4 p-2">
                    <input type="text" class="form-control" name="email" value="{{user.email}}">
                </div>
            </div>
            <div class="form-group row">
                <div  class="col-sm-4 p-2">
                    <button type="submit" value="Update User" class="btn btn-primary">Update user</button>
                </div>
            </div>
    </form>
</body>
</html>